.aStudent b {
    color: black;
}

.aStudent {
    display: flexbox;
    line-height: 200%;
    text-align: center;
}

.visual {
    padding:10px;
}

.studentBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}