html, body {
    padding: 10px;
}

.aStudent b {
    filter: invert(1);
    mix-blend-mode: difference;
}

.aStudent {
    display: flexbox;
    line-height: 200%;
    text-align: center;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.2) solid 1px;

}

.visual {
    padding:10px;
}

.studentBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}