
html, body {
    padding: 10px;
}

.parent {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.studentForm {
    width: 50%;
    background-color: rgb(234, 239, 241);
    padding:10px;
    border-radius: 5px;
}
.studentInput {
    line-height: 30px;
}

.studentInput input {
    float: right;
    clear: both;
    height:20px;
}

.studentInput button {
    float: right;
    margin-top: 20px;
    margin:10px;
}

.displayButton {
    margin-top: 20px;
    margin-left: 34.5%;
    order: 2;
}
