<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/formHeader.ejs") %>
</head>
<body>
    <h1>Entering/Editing a student</h1>
    <div class="parent">
        <div class="studentForm">
            <select id="Students" onchange="autoFill(this)">
                <option id="studentDrop" value="">
                    Select an existing student...
                    <% results.forEach( (r) => { %>
                        <option value=<%=JSON.stringify(r)%>><%=r.name %></option>
                    <%}); %>
                </option>
            </select>
            <form class="studentInput" action="/changeuser" method="post">
                <br>
                <label for="studentName">Student Name: </label>
                <input type="text" id="studentName" name="serv_name"></input>
                <br>
                <label for="weight">Weight (lbs): </label>
                <input type="text" id="weight" name="serv_weight"></input>
                <br>
                <label for="height">Height (cm): </label>
                <input type="text" id="height" name="serv_height"></input>
                <br>
                <label for="hair_color">Hair color: </label>
                <input type="text" id="hair_color" name="serv_hColor"></input>
                <br>
                <label for="gpa">GPA: </label>
                <input type="text" id="gpa" name="serv_gpa"></input>
                <br>
                <button name="action" value="add" class="btn btn-primary btn-sm" id="submit">Submit</button>
                <button name="action" value="delete" class="btn btn-danger btn-sm" id="delete">Delete</button>
            </form>
        </div>
        <div class="displayButton">
            <a href='form/display'> 
                <button class="btn btn-primary" id="display">Display the Database</button>
            </a>
        </div>
    </div>
</body>
<script src="form.js"></script>
</html>